@use './typography';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

$color-light-blue: #4a90e2;
$color-light-gray: #f5f5f5;
$color-mint-green: #a8e6cf;
$color-white: #ffffff;

body {
  background-color: $color-light-gray;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
}
