@use './typography';
@use 'sass:map';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}

$color-light-blue: #4a90e2;
$color-light-gray: #f5f5f5;
$color-mint-green: #a8e6cf;
$color-white: #ffffff;

body {
  background-color: $color-light-gray;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: normal;
}

$breakpoints: (
  'xs': 600px,
  'sm': 960px,
  'md': 1280px,
  'lg': 1920px,
  'xl': 2560px,
  'xxl': 2560px,
);

@mixin breakpoint($breakpoint) {
  $breakpoint-value: map.get($breakpoints, $breakpoint);

  @if $breakpoint-value {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn "O breakpoint #{$size} não foi encontrado no mapa.";
  }
}
